* {
  font-family: 'Amatic SC', cursive;
}

.about-header {
  height: 200px;
  width: 200px;
}

.about-header h2 {
  display: block;
  font-weight: 700;
  color: #008000;
  background-color: #000000;
  position: relative;
  margin: 100px;
  left: 40%;
}

.container {
  height: 700px;
  width: 100%;
  margin-top: 150px;
  background-color: #000000;
}

.container-box {
  height: 650px;
  width: 30%;
  border: 3px inset #f2f2f2;
  float: left;
  margin-left: 10px;
}

.container-box img {
  height: 350px;
  width: 100%;
}

.container-box img, .container-box audio, .container-box iframe {
  display: block;
  margin: auto;
}

.container-box p {
  color: #f2f2f2;
  width: 100%;
}

